:root{
    --faixa-topo: #bf8900de;
}

*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.corpo-portfolio{
    background-color: #000000;
    height: 200vh;
    width: 100vw;
    /* background-image: ;
    background-repeat: no-repeat;
    background-position: fixed; */
}

.header-alv{
    background-color: var(--faixa-topo);
    width: 100vw;
    height: 10vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 1000;
}

.header-util{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background-color: pink; */
}

.header-util h1{
    margin-left: 3vw;
    font-size: 2.4vw;
    font-weight: 600;
    /* background-color: red; */
}

.nav-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 3vw;
    /* background-color: rebeccapurple; */
}

.nav-header ul{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    /* background-color: brown; */
}

.nav-header ul li{
    font-size: 1.3vw;
}

.black-bar{
    width: 100%;
    height: 10%;
    background-color: #00000033;
    display: flex;
    /* background-color: rebeccapurple; */
}

.corpo-dev{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

.apresentacao{
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* background-color: rebeccapurple; */
}

.base-imagem{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/Alvin/Chip_veins.svg);
    background-size: 90vw;
    background-repeat: no-repeat;
    background-position: center;
    
}

.borda{
    height: auto;
    width: auto;
    display: flex;
    padding: 10px;
    border: var(--faixa-topo) double 10px;
}
.base-imagem img{
    height: 20vw;
}


.area-texto{
    width: 60%;
    height: 100%;
    /* background-color: gray; */
}