@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{
    scroll-behavior: smooth;
}
html, body{
  overflow-x: hidden;
}
#cardMain{
    width: 100%;
    height: auto;
    background-color: #18181b;
    padding: 20px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}
.containerCards{
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
  z-index: 2;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 400px;
    margin-bottom: 100px;
    perspective: 1000px;
    font-family: sans-serif;
  }
  
  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;


    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.33);
    color: coral;
  }
  
  .flip-card-back {
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.33);
    transform: rotateY(180deg);
  }

.containerAvatar{
    width: 80%;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}
.avatarImg{
    width: 100%;
    border-radius: 10px;

    object-fit: cover;
}

ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
    padding: 0.5rem;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: 100%;
    right: 110%;
    transform: translateY(200%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  
.containerSaibaMais{
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.saibaMais{
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}
.containerHand{
    width: 20px;
}
.handImg{
    width: 100%;
}

.palavrasFlutuantes{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column; 
  align-items: center; 
  flex-wrap: wrap;

  position: absolute;
  gap: 100px;

}

.marcaDagua{
  font-size: 80px;
  color: #18181b;
  -webkit-text-stroke: 2px rgba(255, 255, 255, 0.37);
  position: relative;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  font-style: normal;
  /* text-shadow: 5px 5px 5px white; */
}
.marcaDagua:nth-child(1){
  transform: rotate(30deg);
}
.marcaDagua:nth-child(2){
  transform: rotate(60deg);
}
.marcaDagua:nth-child(3){
  transform: rotate(30deg);
}
.marcaDagua:nth-child(4){
  transform: rotate(-30deg);
  margin-top: 100px;
}
.marcaDagua:nth-child(5){
  transform: rotate(30deg);
}
.marcaDagua:nth-child(6){
  transform: rotate(-30deg);
  margin-top: 100px;
}
.marcaDagua:nth-child(7){
  transform: rotate(-30deg);
}
.marcaDagua:nth-child(8){
  transform: rotate(40deg);
}
.marcaDagua:nth-child(9){
  transform: rotate(20deg);
  margin-top: 100px;
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: absolute;
  width: 100vw;
  height: 100%;

}

.background span {
  width: 8vmin;
  height: 8vmin;
  border-radius: 8vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #5bd719;
  top: 56%;
  left: 29%;
  animation-duration: 10s;
  animation-delay: -12s;
  transform-origin: 10vw -14vh;
  box-shadow: 16vmin 0 2.438848247201185vmin currentColor;
}
.background span:nth-child(1) {
  color: #0544f0;
  top: 64%;
  left: 27%;
  animation-duration: 45s;
  animation-delay: -50s;
  transform-origin: -22vw 2vh;
  box-shadow: -16vmin 0 2.4529652526396157vmin currentColor;
}
.background span:nth-child(2) {
  color: #af5f04;
  top: 36%;
  left: 99%;
  animation-duration: 42s;
  animation-delay: -8s;
  transform-origin: -9vw 0vh;
  box-shadow: 16vmin 0 2.549389332225041vmin currentColor;
}
.background span:nth-child(3) {
  color: #af5f04;
  top: 83%;
  left: 67%;
  animation-duration: 45s;
  animation-delay: -39s;
  transform-origin: -12vw 17vh;
  box-shadow: 16vmin 0 2.0103946843347833vmin currentColor;
}
.background span:nth-child(4) {
  color: #5bd719;
  top: 46%;
  left: 5%;
  animation-duration: 55s;
  animation-delay: -20s;
  transform-origin: -8vw 8vh;
  box-shadow: -16vmin 0 2.913849723544852vmin currentColor;
}
.background span:nth-child(5) {
  color: #5bd719;
  top: 54%;
  left: 9%;
  animation-duration: 18s;
  animation-delay: -3s;
  transform-origin: -15vw 17vh;
  box-shadow: -16vmin 0 2.943119892673229vmin currentColor;
}
.background span:nth-child(6) {
  color: #af5f04;
  top: 37%;
  left: 21%;
  animation-duration: 9s;
  animation-delay: -6s;
  transform-origin: -10vw -21vh;
  box-shadow: 16vmin 0 2.5154287634155486vmin currentColor;
}
.background span:nth-child(7) {
  color: #5bd719;
  top: 28%;
  left: 5%;
  animation-duration: 31s;
  animation-delay: -14s;
  transform-origin: 23vw -20vh;
  box-shadow: 16vmin 0 2.793457886386895vmin currentColor;
}
.background span:nth-child(8) {
  color: #5bd719;
  top: 18%;
  left: 35%;
  animation-duration: 26s;
  animation-delay: -39s;
  transform-origin: -13vw 8vh;
  box-shadow: -16vmin 0 2.2250295452458486vmin currentColor;
}
.background span:nth-child(9) {
  color: #5bd719;
  top: 99%;
  left: 56%;
  animation-duration: 30s;
  animation-delay: -43s;
  transform-origin: 3vw 12vh;
  box-shadow: -16vmin 0 2.979542348660242vmin currentColor;
} 
